<aside class="logo">
  <a href="{{ url('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <img src="{{ base_path }}{{ active_theme_path() }}/assets/temp/manwerk-logo-2021-pos.svg" alt="Logo manwerk 2022" />
  </a>
</aside>