@mixin container {
    width: calc( 100% - calc( 2 * $aside ) );
    max-width: 75vw;
    height: 100%;

}

@mixin flexit( $justify, $align, $dir:row ) {
  display:          flex;
  flex-direction:   $dir;
  justify-content:  $justify;
  align-items:      $align;
}

@mixin vertical-space( $size, $locations: ( 'top', 'bottom' ) ) {
    @each $location in $locations {
        padding-#{$location}: calc($size * $gutter);
    }
}