// ------------------------------------
// $breakpoints
// ------------------------------------
$mobile:        512px;
$tablet:        768px;
$desktop:       1024px;
$widescreen:    1216px;
$fullhd:        1408px;

// standard grid system
$grid:          12;
// Standard gutter space
$gutter:        1rem;
$aside:         12.5vw;

@mixin screen-min( $size ) {
  @media screen and ( min-width: $size ) {
    @content;
  }
}

:root {

    --aside:  12.5vw;
    --column: calc( 75vw / #{$grid});
    // @include screen-min($mobile){
    //     // --aside:  calc((100vw - #{$mobile}) / 2);
    //     --column: calc(#{$mobile} / #{$grid}); 
    // }
    // @include screen-min($tablet){
    //     // --aside:  calc((100vw - #{$tablet}) / 2);
    //     --column: calc(#{$tablet} / #{$grid});
    // }
    // @include screen-min($desktop){
    //     // --aside:  calc((100vw - #{$desktop}) / 2);
    //     --column: calc(#{$desktop} / #{$grid});
    // }
    // @include screen-min($widescreen){
    //     // --aside:  calc((100vw - #{$widescreen}) / 2);
    //     --column: calc(#{$widescreen} / #{$grid});
    // }
    // @include screen-min($fullhd){
    //     // --aside:  calc((100vw - #{$fullhd}) / 2);
    //     --column: calc(#{$fullhd} / #{$grid});
    // }
}
